.paginaContactenos{
  
}
.paginaContactenos h1{
    margin: 0;
}
.paginaContactenos form,
.paginaContactenos .mapa{
    margin: 2%;
}
.paginaContactenos form{
    display: flex;
    flex-direction: column;
    height: 100%; 
    background-color: black;
    padding: 20px;
    flex: 1 1 320px;
}
.paginaContactenos .elementoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3vmin;
}
.paginaContactenos .elementoForm label{
    color: white;
}
.paginaContactenos .mapa{
    background-color: red;
    width: 50%;
    flex-grow: 1;
    height: 100%;
}
.paginaContactenos form>input{
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.paginaContactenos form>input:hover{
    background-color: yellow;
    cursor: pointer;
}
.paginaContactenos .elementoForm input,
.paginaContactenos .elementoForm textarea
{
    padding: 3px;
}
.paginaContactenos .MasInfo{
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    justify-content: center;    
    margin-bottom: 2%;
}
.paginaContactenos .MasInfo #direccion{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 1% ;
}
.paginaContactenos .MasInfo *:not(#direccion){
    display: block;
    width: 50%;
    flex: 1 1 300px;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 1% ;
}
@media (max-width:760px){
    .paginaContactenos .mapa{
        order:1
    }
    .paginaContactenos .MasInfo{
        order:2
    }
    .paginaContactenos form{
        order:3
    }
}
