nav
{
	position: fixed;
    top:0;
	margin: auto;
    z-index:3;
	width: 100%;
	height: 50px;
	background: black;
    display: flex ;
    justify-content: space-between;
}
#toggle{
    display: none;
    cursor: pointer;
    transition: transform 0.3s;
}
#toggle:hover{
    color:yellow;
    transform: scale(1.1);
}
#toggle.active{
    color:yellow;

}
#logo{
    width: 250px;
    height: 100%;
    object-fit: contain;
    margin: 0;
}
nav ul
{
    display: flex;
	position: relative;
	margin: 0;
	width: 60%;
    min-width: 550px;
	text-align: center;
    justify-content: space-evenly;          
    transition: transform 0.5s; 
}
#redesSociales{
    align-items: center;
    margin: 0;
    color:white;
    display: flex;
    justify-content: space-around;
}
#redesSociales *{
    margin:5px;
    font-size: 2.5vmax;
}
#redesSociales i:hover{
    transform: scale(1.2);
}

nav ul li
{
	display: flex;
	line-height: 50px;
	list-style: none;
    transition: color 0.3s,background-color 0.3s,transform 0.3s, font-weight 0.3s;
}
nav ul li:not(#redesSociales):hover{
    transform: scale(1.15);
}
nav ul li:not(#redesSociales):hover a{
    color: yellow;
    font-weight: bold;
}
nav ul li a
{
	color: white;
	text-decoration: none;
}
@media (max-width:820px) {
    nav ul.active{
        transform: translateY(0);
    }
    nav :not(ul){
        z-index: 3;
        justify-content: center;
    }
    nav ul{
        transform: translateY(-150%);        
        z-index: 0;
        top: 0;
        margin-top: 50px;
        display: flex;
        position:fixed;
        flex-direction: column;
        background-color: black;
        opacity: 0.9;
        width: 100%;
        height: calc(100% - 50px);
        min-width: 0px;
    }    
    nav ul li{
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        border: solid 1px white;   
    }
    nav ul li:not(#redesSociales){
        font-size: 3vmax;
    }
    
    nav ul li:not(#redesSociales):hover{
        background-color: yellow;
    }

    nav ul li:not(#redesSociales):hover a{
        color: black;
    }
    #redesSociales i{
        font-size: 8vmax;
        margin: 0;
    }
    #toggle{
        display: block;
        color: white;
        position:absolute;
        right:15px;
        top:5px;
        font-size: 40px;
    }
}
