.paginaNosotros{
    justify-content: space-between;
}
.paginaNosotros>p{
    margin-left:5% ;
    margin-right: 5%;
}
.paginaNosotros .mision,.paginaNosotros .vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1 1 270px;
    margin: 5%;
}
.paginaNosotros .mision img,
.paginaNosotros .vision img 
{
    width: 100%;
    object-fit:fill;
}

.paginaNosotros span{
    font-size: 20px;
    font-weight: bold;
} 

.paginaNosotros .empleados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.paginaNosotros .empleados .empleado{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex:0 0 300px;
    margin-bottom: 5%;
}


