/* CSS ejemplo MVC web - by @Rafael Moreno, modificado por Jorge Monsó */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: sans-serif;

  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

main {
  position: relative;
}
header {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0px;
}

section {
  height: 100%;
  padding-top: 30px;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

section h1{
  width: 100%;
  text-align: center;
  margin-bottom: 4vmin;
}